body {
  font-family: "Nunito Sans", sans-serif;
  color: #3c4043;
}

.nav-item {
  font-size: 0.875rem;
  margin-right: 40px;
}

.nav-item .btn {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0;
  color: black !important;
}

a.nav-hover:hover::after {
  content: '';
  display: block;
  background: transparent;
  height: 4px;
  border-radius: 10px;
  width: 50%;
  margin: 0px auto -4px;
  box-shadow: 0 4px 0 0 #50D890;
}

.text-pastel-green {
  color: #50D890;
}

.link-reset {
  color: #3c4043;
}

.link-reset:hover {
  color: #3c4043;
  text-decoration: none;
}

.btn-outline-pastel-green {
  border: 1px solid #50D890;
  color: #50D890;
}

.btn-outline-pastel-green:hover {
  background-color: #50D890;
  color: white;
}

.btn-pastel-green {
  background-color: #50D890;
  color: white;
}

.btn-pastel-green:hover {
  background-color: #50D890;
  color: white;
}

.btn-google-white {
  border: 1px solid #CED4DA;
  color: #3C4043;
}

.btn-lg-custom {
  margin-top: 40px;
  padding: 1rem 2.25rem;
}

.btn-custom {
  border-radius: 0.625rem;
  padding: 0.5rem 3.125rem;
  font-size: 0.875rem;
}

.section-frame {
  margin-bottom: 150px;
}

.section-title {
  font-family: "Baloo Chettan 2", cursive;
  color: #3c4043;
  font-weight: 800;
}

h1.section-title {
  font-size: 4.0625rem;
}

h2.section-title {
  font-size: 3.125rem;
}

.section-desc {
  width: 70%;
  color: #3c4043;
}

.section-frame .btn-pastel-green {
  box-shadow: 0 0.1875rem 0 rgba(90, 226, 149, 0.25) !important;
}

.section-frame .btn-light {
  box-shadow: 0 0.1875rem 0 rgba(255, 255, 255, 0.25) !important;
}

.whyus-count {
  font-family: "Baloo Chettan 2", cursive;
  font-weight: 800;
  font-size: 3.75rem;
  color: #50D890;
  margin-bottom: 5px;
}

.whyus-desc {
  font-size: 14px;
  text-align: left;
}

.mb-65px {
  margin-bottom: 65px;
}

.card-feedback,
.card-blog,
.card-course,
.card-progress,
.card-service {
  border-radius: 0.625rem;
  box-shadow: 0 4px 8px rgba(60, 64, 67, 0.25) !important;
}

/* Service */
.card-service .card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 225px;
  text-align: center;
  background-color: white;
  border-top: 8px solid #50D890;
  border-bottom: 0;
  border-radius: 8px 8px 0 0;
}

.card-service .card-header img {
  width: 200px;
}

.card-service .card-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 18px;
}

.card-service .card-footer {
  text-align: center;
  background-color: white;
  border-top: 0;
  padding-bottom: 50px;
  border-radius: 0 0 10px 10px;
}

.card-service .card-footer a {
  color: #50D890;
  text-decoration: none;
}

.partner-img {
  max-height: 255px;
}

/* Feedback */
.frame-feedback {
  height: 300px;
}

.card-feedback {
  width: 395px;
  height: 250px;
  margin-right: 25px;
}

.card-feedback .card-header {
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  background-color: white;
}

.card-feedback .card-header .row {
  padding: 0 0.5rem;
}

.card-feedback .card-body {
  padding: 1rem;
}

.card-feedback .farmer-address {
  font-size: 0.875rem;
  margin-bottom: 0;
}

.card-feedback .card-title {
  color: #50D890;
  margin-bottom: 0;
}

.card-feedback .farmer-img {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
}

/* Blog */
.card-blog .card-img-top {
  border-radius: 0.625rem 0.625rem 0 0;
}

.card-blog .card-title {
  font-size: 1.125rem;
  font-weight: bold;
  color: #3C4043;
  margin-bottom: 5px;
}

/* Course */
.card-course .card-footer {
  padding-bottom: 1.5625rem;
  background-color: transparent;
  border-top: 0;
}

.card-course .card-title {
  font-size: 1.25rem;
  margin-bottom: 0.3125rem;
  font-weight: bold;
}

/* Course Progress */
.card-progress .card-body {
  padding: 0.625rem;
}

.card-progress .card-title {
  font-weight: 600;
}

.card-progress .card-img {
  height: 100%;
  border-radius: 0.625rem 0 0 0.625rem;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-vertically {
  display: flex;
  justify-content: left;
  align-items: center;
}

footer .main-footer {
  padding: 7.8125rem 0;
  border-top: 1px solid #E2E2EC;
  border-bottom: 1px solid #E2E2EC;
}

footer .second-footer {
  padding: 2.5rem 0;
}

.footer-menu-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.footer-menu a.menu {
  text-decoration: none;
  display: block;
  color: #3c4043;
  margin-bottom: 1.25rem;
}

.footer-menu a.menu:hover {
  color: #50D890;
}

hr.break-section {
  border-top: 1px solid #d6d6d6;
  margin: 40px 0px;
}

.bg-green-pastel {
  background-color: #50d890;
}

.bg-orange {
  background-color: #FFAD41;
}

.rectangle {
  width: 17px;
  height: 17px;
  border-radius: 5px;
  display: inline-block;
}

.custom-badge {
  font-size: 1.125rem;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
}

.badge-green-pastel {
  color: #FFFFFF;
  background-color: #50D890;
}

.badge-course {
  padding: 0.375rem 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-inner-input {
  z-index: 4;
  right: 0;
  clear: both;
}

.custom-form-search {
  height: 40px !important;
  width: 335px !important;
  font-size: 0.875rem;
}

.slick-next::before,
.slick-prev::before {
  opacity: 1;
  font-size: 1.5625rem;
  color: #50D890;
}

/* login */
.form-titani:focus {
  border-color: #50d890;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(80, 216, 144, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(80, 216, 144, 0.25);
}

.password-wrapper {
  position: relative;
}

.visible {
  position: absolute;
  top: 1em;
  right: 1.5em;
}

.bg-login-image {
  background: url("../img/login.png");
  background-size: cover;
  background-position: top;
}

/* Sidebar */
.sidebar .nav-item {
  border-left: 0.25rem solid transparent;
  margin: 0.625rem 0;
}

.sidebar .nav-item .nav-link {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.sidebar .nav-item.active {
  border-left: 0.25rem solid #50D890;
}

.sidebar .nav-item .nav-link i,
.sidebar .nav-item .nav-link,
.sidebar .nav-item .collapse-item {
  color: #3C4043;
  font-weight: 600;
}

.sidebar .nav-item .collapse-item {
  font-size: 0.875rem;
}

.sidebar .nav-item.active .nav-link i,
.sidebar .nav-item.active .nav-link {
  color: #50D890;
}

.sidebar-light #sidebarToggle {
  background-color: rgba(80, 216, 143, 0.25);
  border: 2px solid #50D890;
}

.sidebar-light #sidebarToggle::after {
  color: #50D890;
}

.sidebar .nav-item .collapse .collapse-inner,
.sidebar .nav-item .collapsing .collapse-inner {
  margin-bottom: 0;
}

/* Topbar */
.navbar {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  align-items: baseline;
}

.topbar {
  height: auto;
}

.topbar .nav-item .nav-link .status-indicator {
  background-color: #eaecf4;
  height: .75rem;
  width: .75rem;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  border: .125rem solid #fff;
}

.topbar .nav-item.dropdown .dropdown-toggle::after {
  content: '\f107';
  color: #FFAD41;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: #3C4043;
}

.topbar .user-name {
  font-weight: bold;
}

.topbar .user-address {
  font-weight: 600;
  font-size: 0.75rem;
}

.topbar .title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0;
}

.topbar .subtitle {
  font-weight: 600;
  margin-bottom: 0;
}

.btn-filter {
  padding: 0.3125rem 1.25rem;
  background-color: rgba(255, 173, 65, 0.7);
  color: white;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.btn-filter:hover {
  background-color: #FFAD41;
  color: white;
}

.btn-filter.active {
  background-color: #FFAD41;
}