body {
  font-family: "Nunito Sans", sans-serif;
  color: #3c4043;
}

.nav-item {
  font-size: 0.875rem;
  margin-right: 40px;
}

.nav-item .btn {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0;
  color: black !important;
}

a.nav-hover:hover::after {
  content: '';
  display: block;
  background: transparent;
  height: 4px;
  border-radius: 10px;
  width: 50%;
  margin: 0px auto -4px;
  box-shadow: 0 4px 0 0 #50D890;
}


.text-pastel-green {
  color: #50D890;
}

.link-reset {
  color: #3c4043;
}

.link-reset:hover {
  color: #3c4043;
  text-decoration: none;
}

.btn-outline-pastel-green {
  border: 1px solid #50D890;
  color: #50D890;
}

.btn-outline-pastel-green:hover {
  background-color: #50D890;
  color: white;
}

.btn-pastel-green {
  background-color: #50D890;
  color: white;
}

.btn-pastel-green:hover {
  background-color: #50D890;
  color: white;
}

.btn-google-white {
  border: 1px solid #CED4DA;
  color: #3C4043;
}

.section-frame {
  margin-bottom: 150px;
}

.section-title {
  font-family: "Baloo Chettan 2", cursive;
  color: #3c4043;
  font-weight: 800;
}

h1.section-title {
  font-size: 4.0625rem;
}

h2.section-title {
  font-size: 3.125rem;
}

.section-desc {
  width: 70%;
  color: #3c4043;
}

.section-frame .btn {
  margin-top: 40px;
  padding: 1rem 2.25rem;
}

.section-frame .btn-pastel-green {
  box-shadow: 0 0.1875rem 0 rgba(90, 226, 149, 0.25) !important;
}

.section-frame .btn-light {
  box-shadow: 0 0.1875rem 0 rgba(255, 255, 255, 0.25) !important;
}

.whyus-count {
  font-family: "Baloo Chettan 2", cursive;
  font-weight: 800;
  font-size: 3.75rem;
  color: #50D890;
  margin-bottom: 5px;
}

.whyus-desc {
  font-size: 14px;
  text-align: left;
}

.mb-65px {
  margin-bottom: 65px;
}

.card-feedback,
.card-blog,
.card-service {
  border-radius: 0.625rem;
  box-shadow: 0 4px 8px rgba(60, 64, 67, 0.25) !important;
}

.card-service .card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 225px;
  text-align: center;
  background-color: white;
  border-top: 8px solid #50D890;
  border-bottom: 0;
  border-radius: 8px 8px 0 0;
}

.card-service .card-header img {
  width: 200px;
}

.card-service .card-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 18px;
}

.card-service .card-footer {
  text-align: center;
  background-color: white;
  border-top: 0;
  padding-bottom: 50px;
  border-radius: 0 0 10px 10px;
}

.card-service .card-footer a {
  color: #50D890;
  text-decoration: none;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-vertically {
  display: flex;
  justify-content: left;
  align-items: center;
}

.partner-img {
  max-height: 255px;
}

.frame-feedback {
  height: 300px;
}

.card-feedback {
  width: 395px;
  height: 250px;
  margin-right: 25px;
}

.card-feedback .card-header {
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  background-color: white;
}

.card-feedback .card-header .row {
  padding: 0 0.5rem;
}

.card-feedback .card-body {
  padding: 1rem;
}

.card-feedback .farmer-address {
  font-size: 0.875rem;
  margin-bottom: 0;
}

.card-feedback .card-title {
  color: #50D890;
  margin-bottom: 0;
}

.card-feedback .farmer-img {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
}

.card-blog .card-img-top {
  border-radius: 0.625rem 0.625rem 0 0;
}

footer .main-footer {
  padding: 7.8125rem 0;
  border-top: 1px solid #E2E2EC;
  border-bottom: 1px solid #E2E2EC;
}

footer .second-footer {
  padding: 2.5rem 0;
}

.footer-menu-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.footer-menu a.menu {
  text-decoration: none;
  display: block;
  color: #3c4043;
  margin-bottom: 1.25rem;
}

.footer-menu a.menu:hover {
  color: #50D890;
}

<<<<<<< HEAD
.radius-10 {
  border-radius: 10px;
}

hr.break-section {
  border-top: 1px solid #d6d6d6;
  margin: 40px 0px;
}

.btn-inner-input {
  z-index: 4;
  right: 0;
  clear: both;
}

.custom-form-search {
  height: 40px !important;
  width: 335px !important;
  font-size: 0.875rem;
}

.slick-next::before,
.slick-prev::before {
  opacity: 1;
  font-size: 1.5625rem;
  color: #50D890;
=======

/* login */
.form-titani:focus {
  border-color: #50d890;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(80, 216, 144, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(80, 216, 144, 0.25);
}

.password-wrapper {
  position: relative;
}

.visible {
  position: absolute;
  top: 1em;
  right: 1.5em;
>>>>>>> 478eaf54c662bdc1da14da1cb4c9f1eb81088bf6
}